doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="http://front.icafe8.com/upload/uploadFile/public/script/jquery-1.11.3.min.js")
    block scripts
